@import '../../styles/mixins';
@import '../../styles/variables';

.Features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  h1 {
    color: $udev-blue;
  }

  ul {
    margin: rem(16px) 0;
  }
}
